.expandableSection {
    padding: 16px 24px 24px 24px;
    background-color: #ffffff;
}

.tabContainer {
    position: relative;
    display: flex;
    background-color: #F0F3FF;
    padding: 6px;

}

.tabContainer::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    height: calc(100% - 12px);
    width: var(--indicator-width);
    transform: translateX(var(--indicator-left));
    background-color: #000033;
    transition: transform 0.35s cubic-bezier(.16, .84, .24, 1),
        width 0.35s cubic-bezier(.16, .84, .24, 1);
    z-index: 0;
    color: #ffffff;
}


.tabItem {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.25s ease;
    padding: 8px 24px;
    max-width: 210px;
    width: 100%;
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: #000033;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    /* background-color: ;
    transition: opacity 360ms cubic-bezier(.16,.84,.24,1), transform 360ms cubic-bezier(.16,.84,.24,1);
    opacity: 0.6;
    will-change: opacity, transform; */
}

.expandableContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.active {
    color: #FFFFFF;
    opacity: 1;
}


.activeTabItem {
    background-color: #000033;
    color: #FFFFFF;
    opacity: 1;
    /* transform: translateY(-2px); */
}



/* panel slide + fade animations */
.tabPanel {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 420ms cubic-bezier(.16, .84, .24, 1) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    60% {
        opacity: 0.6;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabContentFlightInformation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutFlightContainer {
    display: flex;
    justify-content: space-between;

}

.aboutFlightContainerLeft {
    display: flex;
    gap: 12px;
    align-items: center;
}

.flightInfoTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flightIcon {
    width: 42px;
    height: 42px;
}

.aboutFlightContainerRight {
    display: flex;
    gap: 8px;
    /* align-items: start; */
    height: fit-content;
}

.subInfoText {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
    align-self: center;
}

.flightInfoTextTitle {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.57px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.flightInfoTextChips {
    padding: 3px 10px;
    background-color: #F7F7F7;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 15.71px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: fit-content;

}

.timelineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
}

.sideRight {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
    align-items: end;
}

.date {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #434343;

}

.time {
    font-family: Antic Didone;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #000033;
}

.airport {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #000000;
}

.terminal {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #316CEC;

}

.city {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #A2A2A2;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flightAnimation {
    display: flex;
    align-items: center;
    gap: 6px;
}

.flightDotedcontainer {
    display: flex;
    gap: 3px;
    align-items: center;

}

.bigDot {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: #000033;

}

.dashBorder {
    width: 134px;
    border-top: 1px dashed #94A3B8;
}

.flightSvg {
    color: #000033;
}

.priceContainer {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 0;
}

.duration {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -2%;

}

.hours {
    color: #A3A3A3;
}

.nonStop {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #000000;

}

.changeOfPlanes {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF3FE;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 13px;
    line-height: 18.57px;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #000000;

}

.changeOfPlanesTiem {
    font-family: var(--font-inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 13px;
    line-height: 18.57px;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #000000;
}


.tabContentFareDetails {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0.5px solid #E4E6E8;
}

.header {
    padding: 11px 16px;
    background-color: #000033;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.body {
    padding: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 18.57px;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #000000;
}

.amount {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.bold {
    font-family: var(--font-inter);
    font-weight: 600;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;

}

.tabContentBaggageRules {
    display: flex;
    gap: 10px;
}

.tableCard {
    max-width: 534px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoBox {
    flex: 1;
}

.tableHeader {

    padding: 11px 13px;
    display: flex;
    background-color: #000033;
    /* gap: 34px; */
    justify-content: space-between;
    color: #FFFFFF;
}






.tableHeader span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -2%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tableRow {
    padding: 9px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E4E6E8;
}

.airlineCell {
    display: flex;
    gap: 12px;
    align-items: center;
}

.airlineIcon {
    width: 32px;
    height: 32px;
}

.airlineText {
    display: flex;
    flex-direction: column;
}

.airlineName {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.57px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
}

.flightNo {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 15.71px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #737373;

}

.baggage {
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;

}

.infoBox {
    padding: 11px 12px 12px 7px;
    background-color: #FFF7E8;
}

.infoBox ul {
    list-style-type: disc;
    padding-left: 18px;
}

.infoBox ul li {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Italic;
    font-size: 12px;
    line-height: 1.51;
    letter-spacing: 0%;
    color: #9A3412;
}


.tabContentCancellationRules {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.route {
    padding: 7.5px 12px;
    background-color: #F5F5F6;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 20px;
    line-height: 18.57px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;

}

.tableRows {
    padding: 12px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #E4E6E8;
    border-right: 1px solid #E4E6E8;
    border-bottom: 1px solid #E4E6E8;
}

.timeFrame {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 18.57px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;

}

.textRight {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;

}

.note {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Italic;
    font-size: 14px;
    line-height: 18.57px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #CCCCCC;
    margin-top: -10px;

}