.overlay {
    position: fixed;
    inset: 0;
    background: #0A0A0A33;
    backdrop-filter: blur(8px);

    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.sheet {
    background: #fff;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding-top: 24px;
    padding-bottom: 8px;

    /* height: 574px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #DBE2EB;
}

.label {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #7B8799;
}

/* INPUT */
.inputRow {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.inputRow .selectedDate {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -3%;
    color: #1A2029;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftText {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.50;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #000000;
}

.sub {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.50;
    letter-spacing: -3%;
    color: #7B8799;
}
.counter{
    max-width: 112px;
    width: 100%;
    display: flex;
    /* gap: 21px; */
    align-items: center;
    justify-content: space-between;
}
.counterBtn{
    width: 31px;
    height: 31px;
    border: 1px solid #000033
}

.counterText{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0%;
    color: #000000;

}

.doneBtn{
    height: 48px;
    padding: 10px 16px;
    background: #000033;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.45s ease;
}
/* .doneBtn:hover{
    background-color: #FCC800;
    color: #000033;
} */