.overlay {
    position: fixed;
    inset: 0;
    background: #0A0A0A33;
    backdrop-filter: blur(8px);

    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.sheet {
    background: #fff;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding-top: 24px;
    padding-bottom: 8px;

    /* height: 574px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideOut {
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #DBE2EB;
}

.label {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #7B8799;
}

/* INPUT */
.inputRow {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.inputRow .selectedDate {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -3%;
    color: #1A2029;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
}


.row {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 8px;
}

.label {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #1A2029;

}

.radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #E4E6E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-color: #000033;
}

.dot {
    width: 12px;
    height: 12px;
    background: #000033;
    border-radius: 50%;
}