.footer {
    background-color: #000033;
    padding: 40px 32px;
}
.accordionItem{
    color: #FFFFFF;
}
.accordionItem {
  /* border-top: 1px solid #f0f0f0; */
 
}

.accordionWrapper {
    display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.accordionItem:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordionHeader {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 14px;
}

.accordionContainer{
    
     /* border-bottom: 1px solid #f0f0f0; */
     padding-bottom: 16px;
    
}
.rotate {
  transform: rotate(180deg);
}
.dot{
    line-height: 0.5;
}
.footerBlockWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.accordionBody {
    /* border-bottom: 1px solid #f0f0f0; */
    /* padding-bottom: 16px; */
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* transition: max-height 0.4s ease; */
  transition:
    max-height 0.2s ease,
    opacity 0.4s ease,
    padding 0.2s ease;
}

.show {
  max-height: 2000px; /* enough for content */
}


.container {
    max-width: 1520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
}

.footerTop {
    display: flex;
    gap: 13px;
    align-items: center;
}

.footerBoder{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footerTop p {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.8;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;

}

.footerBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blockHead {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: .7;
}

.blockItems {
    display: flex;
    gap: 99px;
}

.blockItems ul {
    display: flex;
    flex-direction: column;
    max-width: 317px;
    width: 100%;
    /* justify-content: space-between; */
    gap: 9px;
}

.blockItems ul li  span{
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

.linkText {
    position: relative;
    display: inline-block;
    width: fit-content;
}

/* underline */
.linkText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: currentColor;

    opacity: 0;
    transform: translateY(3px);

    transition:
        opacity 0.35s ease,
        transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* hover trigger */
li:hover .linkText {
    color: #fff;
    /* optional */
}

li:hover .linkText::after {
    opacity: 1;
    transform: translateY(0);
}
.footerLinkBlock {
    display: flex;
    color: #FFFFFF;
    gap: 99px;
}

.footerLinkCont {
    max-width: 307px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.linkHead {
    font-weight: 500;
    /* font-style: Italic; */
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: .7;

}

.footerLinkCont ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footerLinkCont ul li {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 184%;
    letter-spacing: 0%;
    /* text-align: center; */
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;

}

.footerLinkCont ul li a span {
    display: flex;
    gap: 7px;
    align-items: center;
}

.footerLinkCont ul li a img{
    width: 24px;
    height: 24px;
}
.copywrite {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
}
.mediaIcons{
    color: white;
    display: flex;
    gap: 16px;
    justify-content: center;
    display: none;

}

@media (max-width:1200px){

    .footer{
        padding: 20px;
    }
    .blockItems, .footerLinkBlock{
        gap: 50px;
    }

}
@media (max-width: 1023px){
    .accordionWrapper{
        display: block;
    }
    .footerBlockWrapper{
        display: none;
    }
    .mediaIcons{
        display: flex;
    }
}

@media (max-width: 991px){
    .blockItems, .footerLinkBlock{
        gap: 20px;
    }
    .blockItems ul{

    }
    .blockItems ul li span{
        font-size: 10px;
    }
    .linkText{
        font-size: 12px;
    }
}

@media (max-width: 767px){
    .footerTop{
        flex-direction: column;
    }
    .footerTop p{
        text-align: center;
    }
    .blockItems, .footerLinkBlock{
        flex-wrap: wrap;
    }
}