.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  padding-top: 0;
  gap: 12px;
  background-color: white;
}

/* CARD */
.card {
  border: 1px solid #d1d5dc;
  height: 66px;
  padding: 16px;

  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  background: #ffffff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* RADIO */
.card input {
  width: 18px;

  height: 18px;
  cursor: pointer;
}
.card input:focus-visible {
  outline: none;
}
/* ICON */
.card img {
  height: 28px;
  margin-right: -4px;
  width: auto;
  object-fit: contain;
}

/* TEXT */
.card span {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

/* HOVER */
.card:hover {
  border-color: #94a3b8;
}

/* ACTIVE / SELECTED */

@media (max-width: 640px) {
  .wrapper {
    padding: 12px;
    padding-top: 16px;
    border: 1px solid #e4e6e8;
    border-top: none;
  }
  .card {
    padding: 12px;
  }
  .card input {
    width: 24px;
    height: 24px;
  }
  .card img {
    width: 54px;
    height: 32px;
  }
  .card span{
    font-weight: 400;
    font-size: 12px;
  }
}
