.cardPairent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card {
  display: flex;
  background-color: #ffffff;
  padding: 16px;
  padding-right: 0;
  justify-content: space-between;
  transition: all 0.4s ease;
}
.card:hover {
  box-shadow: 0px 1px 18.6px 0px #00000017;
}
.cardLeft {
  max-width: 835px;
  width: 100%;
  display: flex;
  gap: 16px;
}
.cardLeftMainCont {
  max-width: 835px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.departContainer,
.returnContainer {
  max-width: 409px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.HeadingCont {
  display: flex;
  gap: 12px;
  align-items: center;
}
.HeadingCont img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.ariLineName {
  display: flex;
  gap: 7px;
  align-items: center;
  font-family: var(--font-inter);
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 18.57px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #000000;
}
.ariLineNumber {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 15.71px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #737373;
}
.departureDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.departTextHeading {
  display: flex;
  gap: 6px;
  align-items: center;
}
.departTextHeading h3 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-style: Bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}
.departTextHeading span {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}
.departTimeContainer {
  max-width: 409px;
  width: 100%;
  padding: 16px;
  border: 0.5px solid #e4e6e8;
}

.cardRight {
  display: flex;
  padding-right: 12px;
  margin-top: -16px;
  max-height: 171px;
}

/* FARE DETAILS CONTAINER */
.fareDetails {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-end;
  justify-content: flex-end;
}

/* TOTAL FARE (TOP) */
.totalFare {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.fareText {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

/* VIEW FARES BUTTON */

.viewBtn {
  padding: 12px 24px;
  background-color: #000033;
  height: 40px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
<<<<<<< Updated upstream
  transition: all 0.45s ease;
}
.viewBtn:hover {
  background-color: #fcc800;
  color: #000033;
=======
    transition: all .35s ease-in-out;
>>>>>>> Stashed changes
}
.viewBtn:hover{
    background-color: #FCC800;
    color: #000033;
}


/* PRICE PER ADULT ROW */
.fareAmount {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* PRICE TEXT */
.fare {
  display: flex;
  align-items: end;
  gap: 2px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}

.adult {
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000000;
}

/* CABIN CLASS */
.economy {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #208ef5;
}

/* DOT (REUSED) */
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #737373;
}

/* SEE DETAILS BUTTON */
.seeDetailsBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #000033;
  cursor: pointer;
  user-select: none;
}

.offerBannerWrap {
  margin-top: 24px;
}
/* ARROW ICON */
.downArrow {
  transition: transform 0.55s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}

/* ROTATE WHEN OPEN */
.rotate {
  transform: rotate(180deg);
}

.cardOpen .expandWrap {
  box-shadow: 0px 1px 18.6px 0px #00000017;
}
.expandWrap {
  max-height: 0;
  overflow: hidden;
  transition: all 0.45s ease;
  border: 1px solid transparent;
  /* border-top: 1px solid #e5e7f0; */
}

.expandWrap.open {
  max-height: 600px;
  /* enough for content */
  border: 1px solid #e5e7f0;
  transition: all 0.45s ease-in-out;
}

.open {
  max-height: 600px;
  /* enough for content */
}
.card {
  border: 1px solid transparent;
}
.cardOpen {
  border: 1px solid #e5e7f0;
  border-bottom: none;
  transition: all 0.45s ease-in-out;
}

.downArrow {
  transition: transform 0.55s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}

.rotate {
  transform: rotate(180deg);
}
