.innerCarouselContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px 0;
    padding: 0 24px;
}
.innerCarouselContentTitle{
    color: #7F7F7F;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.cardItem{
    background-color: #FFFFFF;
    height: 481px;
    margin-top: 54px;
}
.innerCarouselContentSubtitle{
    color: var(--Black, #000);
font-family: "Antic Didone";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.innerCarouselContentPrice{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
}
.innerCarouselContentPriceValue{
    color: var(--ROYAL-BLUE, #003);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
display: flex;
align-items: end;
gap: 5px;
/* display: flex;
justify-content: space-between; */

}
.innerCarouselContentPriceValuePrice{
    color: var(--ROYAL-BLUE, #003);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}

.innerCarouselContentPriceRating{
    display: flex;
    align-items: center;
    gap: 2px;
}

.ratting{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: black;

}

.user{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #7A7A7A;
    opacity:0.7;

}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 100%;
    cursor: pointer;
}
