.expandWrap {

    padding: 16px 24px 24px 24px;
    background-color: #FFFFFF;
}

.mealGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 40px;
}
.expandHeader {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.expandHeader h2 {
    font-family: Antic Didone;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #070773;

}


.Itemwrapper {
    max-width: 388px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemInfo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.imageBox {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.title {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.19;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
}

.priceRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price {
    font-family: var(--font-inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

.tag {
    padding: 1px 8px;
    background-color: #F3F4F6;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #4A5565;

}

.counter {
    max-width: 86px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 8px 5px;
    width: 24px;
    height: 24px;
    border: .75px solid #000033;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.count {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #000000;

}


.aboutFlightContainerRight {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
  align-self: center;
}

.aboutFlightContainerRight span {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0%;
  vertical-align: middle;

}

.mobileFlightDestinationName {
  font-family: Antic Didone;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #070773;
}

.baggageMobileCard {
  border: 1px solid #E4E6E8;
  background: #FFFFFF;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.mobileViewContainer{
  width: 100%;
  padding: 16px;
  background: linear-gradient(180deg, #EEF5FF 0%, #FFFFFF 100%);
  padding-top: 76px;
}
.baggageMobileCard{
  border: 1px solid #E4E6E8;
  background: #FFFFFF;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;

}
.br {
    width: 100%;
    height: 1px;
    /* border: .5px dashed #94A3B8; */
    background-image: repeating-linear-gradient(to right,
            #94A3B8 0,
            #94A3B8 6px,
            transparent 6px,
            transparent 12px);
    opacity: 0.74;
    margin: 0 auto;
}
@media (max-width: 1200px){
    .mealGrid{
        gap: 12px 12px;
    }
    .imageBox{
        width: 56px;
        height: 56px;
    }
    .Itemwrapper{
        gap: 5px;
    }
}

@media (max-width: 1156px){
    .tag{
        font-size: 10px;
        height: auto;
    }
    .price{
        font-size: 16px;
    }
    .itemInfo{
        gap: 10px;
    }
    .counter{
        max-width: 80px;

    }
}

@media (max-width: 1080px){
    .mealGrid{
        /* grid-template-columns: 1fr; */
    }
    .priceRow{
        gap: 2px;
    }
    .info{
        gap: 2px;
    }
    .price{
        font-size: 14px;
    }
    .expandWrap{
        padding: 16px;
    }
}
@media (max-width: 1024px){
   .title{
    font-size: 11px;
   }
}
@media (max-width: 640px){
    .mealGrid{
        grid-template-columns: 1fr;
        gap: 16px;

    }
    .Itemwrapper{
        max-width: unset;
    }
}