.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding-top: 124px;
  padding-bottom: 55px;
  justify-content: center;
}

.container {
  max-width: 1520px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.leftContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

.heading {
  font-family: Antic Didone;
  font-weight: 400;
  font-style: Regular;
  font-size: 69.05px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: #ffffff;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.offer {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.price {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 1.7;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ffffff;
}

.adult {
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.arrow {
  transition: transform 0.3s ease;
}


.exploreBtn {
  position: relative;
  overflow: hidden;

  /* Text */
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 211px;
  padding: 12px 22px;

  /* 🔹 Figma Color: #FFFFFF @ 14% */
  background: rgba(255, 255, 255, 0.14);

  /* 🔹 Figma Background Blur: 11.1 */
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);

  /* 🔹 Figma Border: 1px #FFFFFF */
  border: 1px solid rgba(255, 255, 255, 1);

  /* Optional subtle depth */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12),
    inset 0 0 12px rgba(255, 255, 255, 0.08);

  transition: all 0.25s ease;
}

.btnContainer {
  display: flex;
  justify-content: end;
  /* margin-right: 10px; */
  gap: 6.4px;
}

.btn {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  /* 👈 IMPORTANT */
  background-color: transparent;

  transition:
    border-color 0.35s ease,
    background-color 0.35s ease;
}

.btn:hover {
  border: 0.9px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.52);

}

/* .disabledBtn {
  background-color: transparent !important;
  border: none !important;
  pointer-events: none;
} */

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 28px;
  overflow: hidden;
}

.swapper {
  display: flex;
  max-width: 1114px;
  width: 100%;
  gap: 32px;
}

.items {
  max-width: 350px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.items:hover img {
  transform: scale(1.12);
  /* zoom level */
}

.imgMainContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  max-height: 103px;
  height: 100%;
  display: flex;
  justify-content: center;

  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.88) 100%);
}

.imgBottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.imgHead {
  font-family: Antic Didone;
  font-weight: 400;
  font-style: Regular;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.imgSubHead {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.swapperslider {
  max-width: 350px;
  width: 100%;
  height: 371px;
  height: 100%;
}

@media (max-width: 1540px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading {
    /* font-weight: ; */
    font-size: 62px;
  }
}

@media (max-width: 1518px) {
  .heading {
    font-size: 56px;
  }
}

@media (max-width: 1440px) {
  .heading {
    margin-top: 50px;
    font-size: 47px;
  }

  .offer {
    font-size: 18px;
  }

  .price {
    font-size: 28px;
  }

  .leftContainer {
    /* justify-content: unset;
        gap: 70px; */
  }

  /* .swapperslider {
    max-width: 330px !important;
  } */
}

@media (max-width: 1430px) {
  .price {
    font-size: 22px;
  }

  .price span {
    font-size: 22px;
  }
}

@media (max-width: 1399px) {
  /* .swapperslider {
    max-width: 270px !important;
  } */
}

@media (max-width: 1300px) {
  .heading {
    font-size: 37px;
  }

  /* .swapperslider {
    width: 300px !important;
  } */
}

@media (max-width: 991px) {
  .section {
    padding-top: 90px;
  }

  .container {
    flex-direction: column;
    justify-content: space-between;
  }

  .heading {
    margin-top: 0;
  }

  .leftContainer {
    flex-direction: row;
    height: fit-content;
  }
}

@media (max-width: 1440px) {
  .heading {
    font-size: 38px;
    white-space: nowrap;
  }
}

@media (max-width: 1200px) {
  .heading {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1080px) {
  .tab {
    padding: 8px 16px;
  }
}

@media (max-width: 960px) {
  .tab {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .tabsWrap {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .tab {
    white-space: nowrap;
    /* padding: 8px 10px; */
  }
}

@media (max-width: 680px) {
  /* .swapperslider {
    max-width: 240px !important;
  } */

  .leftContainer {
    padding: 0px 5px;
  }
}

@media (max-width: 540px) {
  .section {
    padding: 50px 7px 50px 7px;
  }

  .rightContainer {
    padding: 0 !important;
  }

  /* .items {
    margin-right: 20px;
  } */
}

@media (max-width: 430px) {
  .section {
    padding: 32px 21px;
    align-items: center;
    overflow-x: hidden;
    background: #00000033;
  }

  .heading {
    max-width: 330px;
    padding: 0;
    font-size: 42px;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .offer {
    font-size: 20px;
    font-weight: 400;
  }

  .leftContainer {
    flex-direction: column;
    gap: 18px;
    padding: 0;
    justify-content: space-between;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .tabsWrap {
    display: none;
  }

  /* .swapperslider {
    max-width: 350px !important;
  } */

  /* .items {
    margin-right: 12px;
  } */

  .mobileSelectWrap {
    display: block;
  }

  .desktopCarousel {
    display: none;
  }

  .mobileCarousel {
    display: flex;
  }

  .exploreBtn {
    height: 45px;
  }

  .price {
    font-size: 32px;
  }

  .price span {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .swapper {
    padding-left: 20px;
  }
}

@media (max-width: 375px) {
  .swapper {
    padding-left: 36px;
  }
}

@media (max-width: 350px) {
  .swapper {
    padding-left: 59px;
  }
}

@media (max-width: 325px) {
  .swapper {
    padding-left: 78px;
  }
}