.container {
    max-width: 1060px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.FlightBookingTextContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.heading {
    font-family: Antic Didone;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0%;
    color: #000000;
}

.heading span {
    font-family: Antic Didone;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0%;
    color: #070773;

}


.subTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceInfo {
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -2%;

}

.itemsResult {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #000000;
}


/* SORT CONTAINER */
.sortContainer {
  padding: 8px;
  background-color: #ffffff;
}

/* MAIN ROW */
.sortSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* LEFT ITEMS */
.sortedItemMainContainer {
  display: flex;
}

.sortedItemContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* EACH SORT CARD */
.sortedItem {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* TEXT */
.sortedTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.budget {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #000033;
}

/* PRICE + TIME */
.priceContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.price {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #737373;
}

.duration {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.hours {
  color: #a3a3a3;
}

/* SORT BY (RIGHT) */
.sortByContainer {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.sortByText {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #767676;
}
