.navContainer {
  width: 100%;
  /* border-bottom: 1px solid rgba(227, 227, 227, 0.5); */
  border-bottom: 1px solid #e3e3e380;
  padding: 12px 0;
  display: flex;
  justify-content: center;

  /* 🔹 Glass blur effect */
  /* background: rgba(10, 22, 40, 0.55); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: #000033;
}

.navbar {
  max-width: 1520px;
  width: 100%;
}

.logggedInBtn {
  padding: 8px 16px;
  height: 37px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.glass_button {
  position: relative;

  background-color: transparent;
  /* glass base */
  backdrop-filter: blur(0.2px);
  /* blur the background */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.1);

  color: #fff;
  transition: all 0.45s ease;
}

.glass_button::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;

  background: conic-gradient(
    from -90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 15%,
    transparent 30%
  );

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.signInBtn {
  padding: 7px 16px;
  background-color: #000033;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #000033;
  cursor: pointer;
  transition: all 0.45s ease;
  border: 0.5px solid #ffffff;
}

.signInBtn:hover {
  background-color: #21347b;
}
.downloadBtn {
  padding: 8px 18px;
  border: 0.5px solid #e4e6e8;
  color: #ffffff;
  height: 37px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;

  cursor: pointer;
}
.sessionExpires{
  display: flex;
  align-items: center;
  gap: 8px;
}
.sessionExpiresText{
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #ffffff;

}
.glass_button:hover {
  background-color: #ffffff;
  color: #000033;
}
.hamBurger {
  display: none !important;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.25;
  letter-spacing: 1%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (max-width: 1600px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .navRight {
    align-items: center;
  }
  .signInBtn {
    display: none;
  }
}
