.container {
    
    padding: 24px;
    background-color: #FFFFFF;
    height: 100%;
    
}
.containerBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 800px;
    height: 100%;
    overflow: auto;
    
}
.posted {
  border-color: #049153 !important;
  color: #049153 !important;
  background-color: #F2FAEB !important;
}

.rejected {
  border-color: #DC2626 !important;
  background-color: #FEF2F2 !important;
  color: #DC2626 !important;
}

.pending {
  border-color: #EA580C !important;
  color: #f97316 !important;
  background: #FFF7ED !important;

}
.br{
    width: 100%;
    border: 0.5px solid #E4E6E8
}
.reviewCard {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDFE3
}
.reviewCardWrapper:last-child .reviewCard {
  border-bottom: none;
  padding-bottom: 0;
}
.left {
    max-width: 124px;
    width: 100%;
    height: 124px;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statusRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.status {
    padding: 4px 8px;
    background: var(--Color-Soft-Green-50, #F2FAEB);
    border: 1px solid #049153;

    font-family: var(--font-inter);
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #049153;

}

.date {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #656F81;

}

.ratingBox {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating {
    padding: 2px 4px;
    background: #F1F2F3;
    border: 0.5px solid #003499;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #003499;

}

.ratingText {
    font-family: var(--font-inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0%;
    vertical-align: middle;

}

.reviewText {
    display: flex;
    align-items: start;
    gap: 8px;
}

.reviewText p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 1.19;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.responseBox {
    padding-top: 24px;
    border-top: 1px solid #DDDFE3;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.helpful {
    display: flex;
    align-items: center;
    gap: 8px;
}

.helpful span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 1.19;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.responseText {

    padding: 16px;
    background: #F2F3F77D;
    border: 1px solid #E4E6E8;

}

.responseText h4 {
    font-family: var(--font-inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.19;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #000000;
}
.responseText p{
    font-family: var(--font-inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;

}