/* [project]/src/app/home-page/components/homePage/HomePage.module.css [app-client] (css) */
.HomePage-module__NahVQW__navbar {
  border-bottom: 1px solid #e3e3e380;
}

.HomePage-module__NahVQW__overlay {
  background-color: #0000004d;
}

.HomePage-module__NahVQW__dateInputWrapper {
  position: relative;
}

.HomePage-module__NahVQW__selectMenu {
  z-index: 30;
  background: #fff;
  border: 1px solid #e4e6e8;
  border-radius: 6px;
  max-height: 220px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  overflow: hidden auto;
  box-shadow: 0 6px 18px #00000014;
}

.HomePage-module__NahVQW__selectItem {
  cursor: pointer;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 14px;
}

.HomePage-module__NahVQW__selectItem:hover, .HomePage-module__NahVQW__selectItem:focus {
  background: #f5f7f8;
  outline: none;
}

.HomePage-module__NahVQW__dateInputWrapper > .HomePage-module__NahVQW__contant {
  display: inline-block;
}

.HomePage-module__NahVQW__dateInputWrapper > img {
  z-index: 31;
  position: relative;
}

.HomePage-module__NahVQW__downloadBtn {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #15151512;
  border: .5px solid #e4e6e8;
  padding: 8px 18px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.HomePage-module__NahVQW__signInBtn {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #003;
  padding: 7px 16px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.HomePage-module__NahVQW__InspiredSection {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
  position: absolute;
  top: 114px;
  left: 50%;
  transform: translate(-50%);
}

.HomePage-module__NahVQW__InspiredSection h1 {
  font-family: Antic Didone, serif;
  font-weight: 400;
  font-style: Regular;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 64px;
  line-height: 1;
}

.HomePage-module__NahVQW__InspiredSection p {
  width: 100%;
  max-width: 436px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: Light;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.HomePage-module__NahVQW__serarchingCont {
  background-color: #ffffff1a;
  border: 1px solid #ffffff1a;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1130px;
  padding: 24px;
  display: flex;
  position: absolute;
  bottom: 270px;
  left: 50%;
  transform: translate(-50%);
}

.HomePage-module__NahVQW__serarchingContTop {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.HomePage-module__NahVQW__serarchingContTop_left {
  gap: 12px;
  display: flex;
}

.HomePage-module__NahVQW__round_tripBtn {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: Regular;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: .5px solid #e6e8ec4d;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 12px;
  display: flex;
}

.HomePage-module__NahVQW__activeTrip {
  border: .5px solid #fff;
  color: #003 !important;
  background-color: #fcc800 !important;
}

.HomePage-module__NahVQW__serarchingContBottom {
  gap: 12px;
  display: flex;
  position: relative;
}

.HomePage-module__NahVQW__serarchingContBottom_left {
  gap: 12px;
  display: flex;
}

.HomePage-module__NahVQW__fromBtn {
  background-color: #00000059;
  border: .5px solid #e6e8ec;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  min-width: 193px;
  height: 58px;
  padding: 8px 8px 8px 12px;
  display: flex;
}

.HomePage-module__NahVQW__lable {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #c4c4c4;
  font-size: 10px;
}

.HomePage-module__NahVQW__dateInputWrapper {
  justify-content: space-between;
  display: flex;
}

.HomePage-module__NahVQW__calendarIcon {
  cursor: pointer;
}

.HomePage-module__NahVQW__contant {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 1;
}

.HomePage-module__NahVQW__contant::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.HomePage-module__NahVQW__contant::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.HomePage-module__NahVQW__contant::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

.HomePage-module__NahVQW__contant[type="date"] {
  -moz-appearance: textfield;
}

.HomePage-module__NahVQW__searchBtn {
  background-color: #003;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 58px;
  display: flex;
}

.HomePage-module__NahVQW__featureStrip {
  flex-direction: column;
  width: 100%;
  max-width: 836px;
  padding-top: 21px;
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);
}

.HomePage-module__NahVQW__featureRow {
  gap: 55px;
  width: 100%;
  display: flex;
}

.HomePage-module__NahVQW__feature {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 100%;
  max-width: 166px;
  display: flex;
}

.HomePage-module__NahVQW__progress {
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.HomePage-module__NahVQW__progressActive {
  width: calc(100% / var(--count));
  bottom: -1.5px;
  left: calc(var(--active-index) * (100% / var(--count)));
  background-color: #fff;
  border-radius: 6px;
  height: 4px;
  transition: left .3s, width .3s;
  position: absolute;
  box-shadow: 0 2px 6px #0000001f;
}

.HomePage-module__NahVQW__featureRow {
  align-items: center;
  gap: 55px;
  width: 100%;
  display: flex;
  position: relative;
}

.HomePage-module__NahVQW__feature {
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 100%;
  max-width: 166px;
  padding: 6px;
  transition: transform .16s;
  display: flex;
}

.HomePage-module__NahVQW__featurelabel {
  font-weight: 300;
  font-style: Light;
  letter-spacing: 0%;
  color: #fff;
  opacity: .6;
  font-size: 14px;
  line-height: 1;
}

.HomePage-module__NahVQW__icon {
  opacity: .6;
}

.HomePage-module__NahVQW__featureActive .HomePage-module__NahVQW__featurelabel, .HomePage-module__NahVQW__featureActive .HomePage-module__NahVQW__icon {
  color: #fff;
  opacity: 1;
}

.HomePage-module__NahVQW__feature img {
  width: 55px;
  height: 54px;
}

.HomePage-module__NahVQW__arrowbox {
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(0, -50%);
}

.HomePage-module__NahVQW__arrowboxOneWay {
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 21.5%;
  transform: translate(0, -50%);
}

/* [project]/src/app/home-page/components/Switch.module.css [app-client] (css) */
.Switch-module__fEbDlG__wrapper {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  gap: 7px;
  display: inline-flex;
}

.Switch-module__fEbDlG__hiddenInput {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.Switch-module__fEbDlG__switch {
  background-color: #e0e0e0;
  border-radius: 50px;
  width: 28px;
  height: 16px;
  transition: background-color .25s;
  position: relative;
}

.Switch-module__fEbDlG__knob {
  background-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: transform .25s;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 3px 8px #00000040;
}

.Switch-module__fEbDlG__active {
  background-color: #003;
}

.Switch-module__fEbDlG__active .Switch-module__fEbDlG__knob {
  transform: translateX(12px);
}

.Switch-module__fEbDlG__label {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: Regular;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

/* [project]/src/app/home-page/components/topToFlights/TopToFlights.module.css [app-client] (css) */
.TopToFlights-module__pSZzgq__topToFlightsSection {
  margin: 0 auto;
  padding: 120px 0;
}

.TopToFlights-module__pSZzgq__container {
  flex-direction: column;
  gap: 42px;
  width: 100%;
  max-width: 1520px;
  margin: auto;
  display: flex;
}

.TopToFlights-module__pSZzgq__heading {
  font-family: Antic Didone, serif;
  font-style: Regular;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-align: center;
  color: #003;
  font-size: 42px;
  line-height: 1;
}

.TopToFlights-module__pSZzgq__subContainer {
  flex-direction: column;
  display: flex;
}

.TopToFlights-module__pSZzgq__navbar {
  justify-content: center;
  display: flex;
}

.TopToFlights-module__pSZzgq__nav_items {
  font-weight: 400;
  font-style: Regular;
  letter-spacing: -2%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #a8a8a8;
  cursor: pointer;
  padding: 8px 32px;
  font-size: 14px;
  line-height: 1.25;
}

.TopToFlights-module__pSZzgq__active {
  color: #003;
  border-bottom: 2px solid #003 !important;
}

.TopToFlights-module__pSZzgq__custom_border {
  z-index: -9;
  border: 1px solid #a8a8a8;
  position: relative;
  top: 119.5px;
}

.TopToFlights-module__pSZzgq__flight_items_cont {
  margin-top: 54px;
}

.TopToFlights-module__pSZzgq__flight_items_row {
  justify-content: space-between;
  margin-bottom: 32px;
  display: flex;
}

.TopToFlights-module__pSZzgq__flight_items {
  border: 1px solid #e4e6e8;
  gap: 16px;
  width: 100%;
  max-width: 356px;
  padding: 8px;
  display: flex;
}

.TopToFlights-module__pSZzgq__flight_items_bottom {
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  padding: 10px 0;
  display: flex;
}

.TopToFlights-module__pSZzgq__fromTo {
  align-items: center;
  gap: 8px;
  display: flex;
}

.TopToFlights-module__pSZzgq__fromTo span {
  font-weight: 300;
  font-style: Light;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

.TopToFlights-module__pSZzgq__price {
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
}

.TopToFlights-module__pSZzgq__price span {
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}

/* [project]/src/app/home-page/components/targetTours/TargetTours.module.css [app-client] (css) */


/*# sourceMappingURL=src_app_home-page_components_ec84e863._.css.map*/