.wrapper {
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-top: 1px solid #E4E6E8;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.option{
    display: flex;
    align-items: center;
    gap: 12px;

}
.checkbox{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.optionText{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    cursor: pointer;
}
.disclaimer{
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Italic;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1D4ED8;

}
.link{
    text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
}

@media (max-width: 430px) {
    .wrapper{
      padding: 0px;
      border-top: none;
    }
    .optionText{
        font-size: 13px;
    }
    .disclaimer{
        font-size: 12px;
    }

}

@media(max-width: 1080px){
    .wrapper{
        padding: 16px 20px;
    }
}