.section {
    padding: 0px 200px 60px 200px;
    background-color: #F9F9F9;
}

.container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    font-family: Antic Didone;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 1.19;
    text-transform: capitalize;
}

.carousel {
    margin-top: 40px;
}


@media (max-width: 1440px) {
    .section {
        padding: 0px 80px 60px 80px;
    }
}

@media (max-width: 1200px) {
    .section {
        padding: 0px 40px 60px 40px;
    }

    .heading {
        font-size: 40px;
    }
}


@media (max-width: 991px) {
    .heading {
        font-size: 36px;
    }
}

@media (max-width: 885px) {
    .section {
        padding: 0px 60px 40px 60px;
    }
}


@media (max-width: 768px) {
    .section {
        padding: 0px 32px 40px 32px;
    }
}

@media (max-width: 529px) {
    .section {
        padding: 0px 16px 40px 16px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 32px;
    }

    .container {
        gap: 24px;
    }

    .carousel {
        margin-top: 24px;
    }
}

@media (max-width: 400px) {
    .section {
        padding: 0px 16px 24px 16px !important;
    }

    .heading {
        font-size: 28px;
    }
}