.section {
    padding: 80px 20px 60px 20px;
    background-color: #F9F9F9;
}
.container{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}
.heading {
    font-family: Antic Didone;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 1.19;
    text-transform: capitalize;

}


@media (max-width: 1200px) {
    .heading {
        font-size: 40px;
    }
}


@media (max-width: 991px) {
    .heading {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 32px;
    }
    .container{
        gap: 24px;
    }
    .section{
        padding: 20px 16px;
    }
    .carousel{
        margin-top: 24px;
    }
}

@media (max-width: 520px) {
   
    



}

@media (max-width: 400px) {
    .heading {
        font-size: 28px;
    }

}