.tourContent {
  --hotel-hero-sticky-offset: 342px;
  width: 100%;
  background-color: #F9F9F9;
  position: relative;
  /* z-index: -1; */
}

.tourLayout {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 356px 1fr;
  gap: 24px;
  padding: 42px 0px 24px 0px;
  align-items: stretch;
}

.tourResults {
  min-height: calc(100vh - var(--hotel-hero-sticky-offset));
  position: sticky;
  top: var(--hotel-hero-sticky-offset);
  align-self: start;
}

.tourListSectionMobileView{
  display: none;
}

@media (max-width: 1400px) {
  /* .tourLayout {
    grid-template-columns: 1fr minmax(0, 600px);
  } */
}

@media (max-width: 1331px) {
  /* .tourLayout {
    grid-template-columns: 1fr minmax(0, 560px);
  } */
}

@media (max-width: 1288px) {
  /* .tourLayout {
    grid-template-columns: 1fr minmax(0, 520px);
  } */
}

@media (max-width: 1241px) {
  /* .tourLayout {
    grid-template-columns: 1fr minmax(0, 430px);
  } */
}

@media (max-width: 1280px) {
  .tourLayout {
    gap: 16px;
  }

  .tourLayout {
    padding-left: 24px;
  }
}

@media (max-width: 1080px) {
  /* .tourLayout {
    grid-template-columns: 1fr minmax(0, 400px);
  } */
}

@media (max-width: 1024px) {
.tourLayout {
    grid-template-columns: 1fr minmax(0, 375px);
  }
}


@media (max-width: 991px) {
  .tourContent {
    --hotel-hero-sticky-offset: 320px;
  }

  .tourLayout {
    grid-template-columns: 1fr minmax(0, 360px);
    padding-left: 16px;
  }
}
@media (max-width: 831px) {
  .tourLayout {
    grid-template-columns: 1fr minmax(0, 321px);
    padding-left: 16px;
  }
}
@media (max-width: 768px) {
  .tourListSectionWrappper {
    display: none;
  }
  .tourListSectionMobileView{
    display: flex;
  }
  .tourResults {
    position: static;
  }
}
