.section{
    display: flex;
    gap: 24px;
}
.leftSection{
    max-width: 244px;
    width: 100%;

}
.leftSection img{
    width: 100%;
    height: 100%;
}
.rightSection{
    padding: 16px 24px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.rightTop{
    display: flex;
    flex-direction: column;
    gap: 6px;

}
.heading{
    font-family: Antic Didone;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.19;
    vertical-align: middle;
    text-transform: capitalize;
    color: #000000;
}
.downtown{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    color: #808080;

}
.schaduleTime{
    display: flex;
    align-items: center;
    gap: 4px;
}