.sidebar {
  /* width: 356px; */
  background: #ffffff;
  padding: 16px;
  padding-top: 24px;
  font-family: var(--font-inter);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.titleAndCrossContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-inter);
  letter-spacing: 0.04em;
  display: flex;
  gap: 8px;
  align-items: center;
}
.stops {
  margin-bottom: 10px !important;
}

.icon {
  font-size: 14px;
}

.reset {
  font-size: 14px;
  color: #0604b2;
  font-weight: 300;
  font-family: var(--font-inter);
  background: none;
  border: none;
  cursor: pointer;
}
.departureCard {
  transition: all 0.5s ease;
}
.departureCard.activeDepartureCard {
  background-color: #f0f3ff !important;
  border: 1px solid #000033;
}

/* Sections */

.sectionTitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
  color: #111827;
}

.section {
  padding: 16px 0px;
  padding-bottom: 0;
}
/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 4px 6px;
  margin-bottom: 4px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

/* hide native checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* custom box */
.customCheckbox {
  width: 16px;
  height: 16px;
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #d5d7da;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
.departureCard[data-active="true"] {
  border-color: #0b0f3f;
  background: #f6f8ff;
}

.border {
  width: calc(100% + 32px);
  transform: translateX(-16px);
  height: 1px;
  margin-top: 16px;
  border-bottom: 1px solid #0000001a;
}

/* check icon */
.checkIcon {
  width: 14px;
  height: 14px;
  opacity: 0;
  transform: scale(0.6);
  /* 🔥 keep mask ALWAYS */
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20.285 6.709l-11.025 11.025-5.545-5.545 1.414-1.414 4.131 4.131 9.611-9.611z'/%3E%3C/svg%3E")
    no-repeat center / contain;
  transition: all 0.15s ease;
  background-color: transparent;
}

/* checked state */
.checkbox input:checked + .customCheckbox {
  background-color: #000033; /* royal blue */
  border-color: #000033;
}

.checkbox input:checked + .customCheckbox .checkIcon {
  opacity: 1;
  transform: scale(1);
  background-color: white;
}

/* hover (optional polish) */
.checkbox:hover .customCheckbox {
  border-color: #000033;
}

/* Range */
.rangeContainer {
  position: relative;
  height: 32px;
  margin-top: -6px;
}

/* Base track */
.sliderTrack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background: #e5e7eb;
  border-radius: 999px;
}

/* Active selected range */
.sliderRange {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #0b0f3f;
  border-radius: 999px;
}

/* Common range input reset */
/* Common range input reset */
.rangeInput {
  position: absolute;
  width: 100%;
  height: 32px;
  background: none;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
}

/* WebKit (Chrome, Safari, Edge) */
.rangeInput::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  -webkit-appearance: none;

  width: 26px;
  height: 26px;
  border-radius: 50%;

  background: #0b0f3f; /* inner dot color */
  border: 7px solid #ffffff; /* creates white ring */

  box-shadow: 0px 0px 0px 1px #c6d8e3, 0px 0px 25px 0px #0000001a;

  cursor: pointer;
}

/* Firefox */
.rangeInput::-moz-range-thumb {
  pointer-events: auto;

  width: 26px;
  height: 26px;
  border-radius: 50%;

  background: #0b0f3f;
  border: 7px solid #ffffff;

  box-shadow: 0px 0px 0px 1px #c6d8e3, 0px 0px 25px 0px #0000001a;

  cursor: pointer;
}

/* Layering */
.rangeLeft {
  z-index: 2;
}

.rangeRight {
  z-index: 3;
}

/* Price label */
.rangeValue {
  margin-top: -5px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

/* Departure section grid */
.departureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 12px;
  margin-bottom: 4px;
  margin-top: -6px;
}

/* Card */
.departureCard {
  border: 1px solid #e5e7eb;
  background: #ffffff;
  padding: 12px 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  transition: all 0.2s ease;
}

.departureCard:hover {
  border-color: #0b0f3f;
  background: #f6f8ff;
}

/* Icon */
.departureIcon {
  color: #000000;
}

/* Time label */
.departureTime {
  font-size: 14px;
  font-weight: 300;

  color: #78788b;
}

/* Price */
.departurePrice {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.airlineLogoDiv {
  display: flex;
  align-content: center;
  gap: 8px;
}
.actionBar {
  display: none;
}
.filterClose {
  display: none;
}
.filterChips {
  display: none;
}

@media (max-width: 630px) {
  .reset {
    display: none;
  }
  .filterClose {
    display: block;
  }
  .title .icon {
    display: none;
  }
  .title {
    color: #7b8799;
    font-size: 13px;
    font-weight: 400;
  }
  .titleAndCrossContainer {
    margin-bottom: 6px;
  }
  .filterChips {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    width: 100%;
    align-items: flex-start;

    white-space: nowrap;

    /* smooth scroll */
    scroll-behavior: smooth;

    /* hide scrollbar (optional) */
    scrollbar-width: none; /* Firefox */
  }
  .filterChips .name {
    padding: 3px 8px;
  }
  .filterChips::-webkit-scrollbar {
    display: none; /* Chrome / Safari */
  }

  .chip {
    flex-shrink: 0; /* IMPORTANT */
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 999px;
    border: 1px solid #e4e6e8;
    background: #fff;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
  }
  .chip > span {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f2f3f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #e4e6e8;
  }
  .sectionPopularFilter {
    padding-top: 16px;
  }
  .sectionTitle {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .checkbox {
    padding-left: 0;
  }
  .rangeValue {
    margin-top: 8px;
  }
  .titlePriceRange {
    margin-bottom: 13px;
  }
  .stops {
    margin-bottom: 6px !important;
  }
  .departureGrid {
    row-gap: 6px;
  }

  .actionBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: white;
    box-shadow: 0px -6px 10.2px 0px #0000001a;

    padding: 24px 16px 55px 16px;
    border-top: 1px solid #e4e6e8;
  }

  /* COMMON TYPOGRAPHY */
  .resetBtn,
  .applyBtn {
    font-family: Inter, sans-serif;
    font-weight: 500; /* Medium */
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em; /* -3% */
    text-transform: uppercase;
    text-align: center;

    height: 44px;
    border-radius: 2px;
    cursor: pointer;

    transition: background-color 0.35s ease, color 0.35s ease,
      border-color 0.35s ease;
  }

  /* RESET (default white) */
  .resetBtn {
    background-color: #ffffff;
    color: #000033;
    height: 48px;
    border: 1px solid #e5e7eb;
  }

  /* RESET → turns royal blue on hover */
  .resetBtn:hover {
    background-color: #000033;
    color: #ffffff;
    border-color: #000033;
  }

  /* APPLY (always royal blue) */
  .applyBtn {
    background-color: #000033;
    color: #ffffff;
    border: none;
    height: 48px;
  }

  /* Optional subtle press */
  .resetBtn:active,
  .applyBtn:active {
    transform: scale(0.98);
  }
  .sectionPrefferedAirline {
    padding-bottom: 16px;
  }
  .sidebar {
    padding-bottom: 128px;
  }
}
