@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

body {
  font-family: var(--font-poppins), "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-poppins), "Poppins", sans-serif; */
}

.popularFlightsCarouselWrapper .swiper-button-prev,
.popularFlightsCarouselWrapper .swiper-button-next {
  display: none !important;
}

.innerCarouselWrapper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontale {
  background-color: red;
}

.innerCarouselWrapper .swiper-pagination-bullet {
  background-color: #ffffff;
}

.expCarouselWrapper .swiper-slide {
  margin-right: 0px !important;
}

.ExpCarouselWrapper .swiper-pagination {
  display: none !important;
}

.MoreCarouselWrapper {

  margin: 0 auto
}

.MoreCarouselWrapper .swiper-button-prev,
.MoreCarouselWrapper .swiper-button-next {
  display: none !important;
}

.popularFlightsCarouselWrapper {
  padding-left: 32px;
  padding-right: 32px;
}


.limitedWrapper .swiper-slide-active {
  width: unset !important;
  margin-right: 0 !important;
  /* width: 100%; */
}

.limitedWrapper .swiper-slide-next {
  margin-right: 0 !important;
  width: unset !important;
  /* width: 100%; */
}

.limitedWrapper .swiper-wrapper {
  gap: 32px;
}




@media (max-width: 1440px) {
  .limitedWrapper .swiper-wrapper {
    gap: 30px;
  }
  .ExpCarouselWrapper .swiper-slide{
    /* margin-right: 20px !important; */
  }
}

@media (max-width: 1224px){

  /* .ExpCarouselWrapper .swiper-slide{
    margin-right: px !important;
  } */
}