@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

body {
  font-family: var(--font-poppins), "Poppins", sans-serif;
  /* overflow-x: hidden; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-poppins), "Poppins", sans-serif; */
  /* border: 1px solid red; */
}

.popularFlightsCarouselWrapper .swiper-button-prev,
.popularFlightsCarouselWrapper .swiper-button-next {
  display: none !important;
}

.innerCarouselWrapper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontale {
  /* background-color: red; */
}

.innerCarouselWrapper .swiper-pagination-bullet {
  background-color: #ffffff;
}

.expCarouselWrapper .swiper-slide {
  margin-right: 0px !important;
}

.ExpCarouselWrapper .swiper-pagination {
  /* display: none !important; */
}

.MoreCarouselWrapper {
  margin: 0 auto;
}

.MoreCarouselWrapper .swiper-button-prev,
.MoreCarouselWrapper .swiper-button-next {
  display: none !important;
}

.popularFlightsCarouselWrapper {
  max-width: 1920px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  overflow-x: hidden !important;
}

.limitedWrapper .swiper-slide-active {
  width: unset !important;
  margin-right: 32px !important;
  /* width: 100%; */
}

.limitedWrapper .swiper-slide-next {
  margin-right: 32px !important;
  width: unset !important;
  /* width: 100%; */
}


.wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.wrapper .swiper-slide.auto-size{
  width: auto !important;
}

.innerCarouselWrapper .swiper-pagination-bullet-active{
  width: 8.6px !important;
  height: 8.6px !important;
  background-color: #ffffff !important;
}
.innerCarouselWrapper .swiper-pagination-bullet{
  width: 6px;
  height: 6px;
}

@media (max-width: 1440px) {
  .limitedWrapper .swiper-wrapper {
    transform: translate3d(50px, 0, 0);
  }
}
@media (max-width: 1399px) {
  .limitedWrapper .swiper-wrapper {
    transform: translate3d(19.8%, 0, 0);
  }
}
@media (max-width: 1224px) {
  .limitedWrapper .swiper-wrapper {
    transform: translate3d(5.8%, 0, 0);
  }
}
@media (max-width: 768px) {
  .limitedWrapper .swiper {
    margin-left: 12px;
  }
}
@media (max-width: 680px) {
  .limitedWrapper .swapper .swiper-slide {
    width: 265px; /* so total shift = 285px */
  }
}
@media (max-width: 575px) {
  .popularFlightsCarouselWrapper {
    padding-left: 16px;
    padding-right: 0;
  }
  .limitedWrapper .swiper-slide-active {
    margin-right: 20px !important;
    /* width: 100%; */
  }
}

@media (max-width: 498px) {
  .popularFlightsCarouselWrapper .swiper-slide-active {
    max-width: 300px !important;
    width: 100% !important;
  }
}
.limitedWrapper .swiper {
  margin-left: 21px;
}

@media (max-width: 428px) {
  .limitedWrapper .swiper-wrapper {
    transform: translate3d(32.8%, 0, 0);
  }
  .limitedWrapper .swiper-slide-active {
    margin-right: 12px !important;
  }
  .limitedWrapper .swiper {
    margin-left: 0px;
  }
}

@media (max-width: 376px) {
  /* .limitedWrapper .swiper {
    margin-left: 21px;
  } */
}
