.wrapper {
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-top: 1px solid #E4E6E8;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

/* Add traveler */
.addTraveler {
    font-family: Antic Didone;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.19;
    letter-spacing: 0%;
    text-align: right;
    color: #070773;
    cursor: pointer;
}

/* Card */
.card {
    border: 1px solid #E4E6E8;
    padding: 16px;
}

/* Header */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.cardHeader h3 {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0%;
    color: #000000;
    text-transform: uppercase;

}

.label {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: -3%;
    vertical-align: middle;

}

.collapse {
    font-size: 22px;
    cursor: pointer;
}

/* Section title */
.sectionTitle {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.cardBody{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* Grid */
.grid {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Field */
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.field input,
.field select {
    height: 33px;
    padding: 8px 12px;
    border: 1px solid #DBE2EB;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0%;
    outline: none;
}

.input::placeholder {
    color: #8b93a7;
}
.bookingInput::placeholder{
    color: #C4C4C4;
    
}
.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding-right: 44px;
    /* arrow ke liye space */
    cursor: pointer;
}

.selectField {
    position: relative;
}

.selectField::after {
    width: 14px;
    height: 14px;
    content: "";
    position: absolute;
    right: 12px;
    top: 73%;
    transform: translateY(-50%);

    background-image: url("/icons/DownArrows.svg");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    /* important */
}



@media(max-width: 1080px){
    .wrapper{
        padding: 16px 20px;
    }
    .grid{
        gap: 9px;
    }
    .field input,
.field select {
    padding: 8px 7px;
}
}