.bottomContainerRef {
    display: flex;
    gap: 24px;
    max-width: 1920px;
    width: 100%;
    height: 581px;
    margin: 0 auto;
    margin-bottom: 32px !important;

}

.rightImage {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.rightImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewGalleryBtnIcon{
    width: 12px !important;
    height: 12px !important;
}



.rightGrid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
}

.imageBox {
    position: relative;
    overflow: hidden;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* VIEW GALLERY BUTTON */
.viewGalleryBtn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .galleryWrapper {
        grid-template-columns: 1fr;
        height: auto;
    }

    .rightGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}