.flightDepartureFacilities {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.flightDepartureFacilitiesHeader {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0%;
    color: #000000;
}

.flightDepartureFacilitiesList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.flightDepartureFacilitiesItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.facilitiesText {
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -2%;
    color: #000000;
}

@media (max-width: 1280px) {
    .flightDepartureFacilitiesList {
        gap: 0;
        justify-content: space-between;
    }
    
}

@media (max-width: 1200px) {
    .flightDepartureFacilitiesList{
        gap: 10px ;
    }
    .flightDepartureFacilitiesHeader{
        font-size: 13px;
    }
    .facilitiesText{
        font-size: 11px;
    }
}