.flightDepartureFacilities {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.flightDepartureFacilitiesHeader {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #000000;
}

.flightDepartureFacilitiesList {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.flightDepartureFacilitiesItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.facilitiesText {
    font-family: var(--font-inter);
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -2%;
    color: #000000;
}

