.container {
  max-width: 1060px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.FlightBookingTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading {
  font-family: Antic Didone;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  color: #000000;
}

.heading span {
  font-family: Antic Didone;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0%;
  color: #070773;
  text-transform: capitalize;
}

.subTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceInfo {
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -2%;
}

.itemsResult {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #000000;
}

.sortContainer {
  padding: 8px;
  background-color: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.sortedItemContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sortSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.sortedItemMainContainer {
  display: flex;
  gap: 12px;
}

.sortedItem {
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  padding: 8px;
  cursor: pointer;
}

.sortedItem.activeSortedItem {
  border: 1px solid #000033;
  background-color: #f0f3ff;
}

.sortedTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.budget {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #000033;
}

.priceContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.price {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #000000;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #737373;
}

.duration {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -2%;
}

.hours {
  color: #a3a3a3;
}

.sortByContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.sortByText {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}

.flightFareDetailsContainer {
  justify-content: space-between;
  padding-bottom: 16px;
  padding-right: 16px;
  border: 1px solid transparent;
  border-bottom: none;
  background-color: #ffffff;
  display: flex;
  gap: 77px;

  transition: border-bottom 0.45s ease;
}
.expendableContainer {
  transition: all 0.4s ease;
}
.expendableContainer:hover {
  box-shadow: 0px 1px 18.6px 0px #00000017;
}
.flightOpenHoverNone {
  box-shadow: none !important;
}
.airlineRow {
  display: flex;
  gap: 6px;
  align-items: center;
}

.separator {
  margin: 0 6px;
  color: #9ca3af;
}

.flightFareDetailsContainerOpen {
  border: 1px solid #e5e7f0;
  border-bottom: none;
}

.flightFareDetails {
  max-width: 754px;
  width: 100%;
  padding: 16px 6px 0px 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flightDetail {
  max-width: 754px;
  width: 100%;
  gap: 44px;
  display: flex;
  justify-content: space-between;
}

.flightNameContainer {
  display: flex;
  gap: 12px;
  padding: 12px 0;
  align-items: center;
}

.flightNameContainer img {
  width: 42px;
  height: 42px;
}

.flightName {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.multiImageCont {
  position: relative;
  width: 42px;
  height: 42px;
}
.multiImageCont img {
  width: 23px;
  height: 23px;
}
.multiImageCont img:first-child {
  position: absolute;
  left: 0;
  top: 0;
}

.multiImageCont img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}
.seeDetailsBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-style: Light;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #000033;
  cursor: pointer;
}

/* .downArrow{
    width: 16px;
    height: 16px;
} */

.airlineName {
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 18.57px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
}

.flightNumber {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.71px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #737373;
}

.departureDetail {
  max-width: 444px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  justify-content: center;
}
.goingVia {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;

  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: #208ef5;
}
.nextDay {
  font-size: 12px;
  font-weight: 500;
  color: #dc2626;
  font-family: var(--font-inter);
  text-transform: capitalize;
  position: absolute;
  top: -6px;
  right: 0;
}

.departureTimeContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.departureName {
  display: flex;
}

.departureTime {
  font-family: Antic Didone;
  font-weight: 400;
  font-style: Regular;
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: #000033;
}

.flightAnimation {
  display: flex;
  gap: 4px;
  align-items: center;
}

.flightDotedcontainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dashBorder {
  width: 88px;
  border-top: 1px dashed #94a3b8;
}

.bigDot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #94a3b8;
}

.departureName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fromName {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #a3a3a3;
}

.nonStop {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.fareDetails {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: end;
  justify-content: end;
}

.totalFare {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: end;
}

.fareText {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.viewBtn {
  padding: 12px 24px;
  background-color: #000033;
  height: 40px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.45s ease;
}
.viewBtn:hover {
  background-color: #fcc800;
  color: #000033;
}

.fareAmount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fare {
  display: flex;
  gap: 2px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0%;
  color: #000000;
}

.adult {
  display: flex;
  align-items: end;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0%;
  color: #000000;
}

.economy {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #208ef5;
}

/* EXPAND CONTAINER */
.expandWrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.45s ease;
  border: 1px solid transparent;
  /* border-top: 1px solid #e5e7f0; */
}

.expandWrap.open {
  max-height: 600px;
  /* enough for content */
  border: 1px solid #e5e7f0;
}

.open {
  max-height: 600px;
  /* enough for content */
}

.downArrow {
  transition: transform 0.55s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}
.fare {
  white-space: nowrap;
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 1264px) {
  .flightFareDetailsContainer {
    gap: 4px;
  }
}

@media (max-width: 1200px) {
  .flightDetail {
    gap: 15px;
  }
  .container {
    max-width: unset;
  }
  .FlightBookingTextContainer{
    gap: 20px;
  }
}
