/* Container */
.container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.flightExpandableContainer{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Header */
.passengerDetailsHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fromToContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.from,
.to {
  font-family: "Antic Didone";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  color: #070773;
}

/* Sub text */
.aboutFlightContainerRight {
  display: flex;
  gap: 8px;
  height: fit-content;
}

.aboutFlightContainerRight span {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: #000000;
}

/* Optional utility */
.subInfoText {
  font-family: "Inter";
  font-weight: 300;
  font-size: 13px;
  line-height: 1;
  color: #000000;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
  align-self: center;
}

/* Expandable Section */

.flightExpandableCard {
  padding: 16px 24px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E4E6E8;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

}

/* Header inside expandable */
.flightExpandableHeader {
  font-family: "Antic Didone";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.18;
  text-transform: uppercase;
  color: #070773;
}

/* Expand animation */
.expandWrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out;
}

.expandOpen {
  max-height: 1000px;
}

.flightActiveBorder {
  border: 1px solid #e4e6e8;
  transition: border 0.35s ease;
}

/* Arrow animation */
.arrow {
  transition: transform 0.35s ease;
}

.arrowRotate {
  transform: rotate(180deg);
}

/* Continue Button */
.continueButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.continueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  height: 40px;
  width: 236px;
  background-color: #000033;
  color: #ffffff;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.35s ease;
}
.continueButton:hover{
  background-color: #FCC800;
}
.flightExpandableBottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.flightExpandableRows {
  width: 100%;
  display: flex;
  gap: 76px;

}
.baggageBottomCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.baggageGuide{
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.CabinBaggageGuide, .CheckInBaggageGuide{
  max-width: 418px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border: 1px solid #E4E6E8;


}
.CabinBaggageGuideHeader{
  display: flex;
  align-items: center;
  gap: 8px;

}

.CabinBaggageGuideHeader h3{
  font-family: var(--font-inter);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  text-transform: uppercase;

}
.guideList{
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 16px;
}
.guideList li{
  font-family: var(--font-inter);
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0%;
  vertical-align: middle;

}

.proTip{
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #1E40AF;
  background-color: #EFF6FF;
}

.proTipText{
  font-family: var(--font-inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #1E40AF;
  white-space: nowrap;
}
.paraTipText{
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #000000;
}