.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 73px;
  background-color: #f9f9f9;
  background: #f9f9f9;
}

.bookingStepper{
  position: sticky;
  top: 73px;
  z-index: 999;
}
.mainContent {
  display: grid;
  grid-template-columns: 1fr 356px;
  column-gap: 24px;
  max-width: 1280px;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 40px;
  /* Offset for fixed navbar */
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.sidebar {
  width: 100%;
  min-height: 551px;
}

.sidebarSticky {
  position: sticky;
  top: 224px; /* navbar (96px) + stepper (~90px) */
  align-self: flex-start;
}


@media (max-width: 1290px){
  .mainContent{
    padding: 0 20px;
  }
}

@media (max-width: 1050px){
  .mainContent{
    column-gap: 20px;
  }
}
@media (max-width: 1040px){
  .mainContent{
grid-template-columns: 1fr 320px;
  }
}

@media (max-width: 991px){
  .mainContent{
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .sidebar{
    min-height: auto;
  }
}

@media (max-width: 645px){
  .navbar{
    display: none;
  }
  .bookingStepper{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .mainContent{
    padding: 0;
  }
  .layoutWrapper{
    padding-top: 0;
  }
  /* .layoutWrapper{
    background: linear-gradient(180deg, #EEF5FF 0%, #FFFFFF 100%);

  } */
}