.departureDetail {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  width: 100%;
}

.departureTimeContainer {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.departureTime {
  font-family: Antic Didone;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.26;
  letter-spacing: 0%;
  color: #000033;
}

.flightAnimation {
  display: flex;
  gap: 4px;
  align-items: center;
}

.flightDotedcontainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
  min-width: 0;
}
.withStop {
  color: #208ef5 !important;
}

.dashBorder {
  width: clamp(32px, 6vw, 46px);
  border-top: 1px dashed #94a3b8;
}

.bigDot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #94a3b8;
}

.departureName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.fromName {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #a3a3a3;
}

.priceContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.duration {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -2%;
}

.hours {
  color: #a3a3a3;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #737373;
}

.nonStop {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

@media (max-width: 1400px) {
  .fromName {
    font-size: 10px;
  }
  .duration {
    font-size: 10px;
  }
  .nonStop {
    font-size: 10px;
  }
  .priceContainer {
    gap: 4px;
  }
}

@media (max-width: 800px) {
  .dashBorder {
    width: 100%;
  }
  .flightAnimation {
    width: 50%;
  }
}
@media (max-width: 430px) {
  .departureTime {
    font-size: 22px;
  }
  .fromName {
    font-size: 11px;
  }
  .duration {
    font-size: 11px;
  }
  .nonStop {
    font-size: 11px;
  }
  .dashBorder {
    width: 70px;
  }
}

@media (max-width: 370px) {
  .dashBorder {
    width: 100%;
  }
  .flightAnimation {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .priceContainer {
    flex-direction: column;
  }
  .dot {
    display: none;
  }
}
