.banner{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: rgba(12, 188, 135, 0.1);
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
}
.left{
    display: flex;
    align-items: center;
    gap: 24px;
}
.badge{
    width: 40px;
    height: 40px;
    background-image: url('/images/bannerImage.png');
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 11.2px;
    line-height: 16.8px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;

}
.text{
    font-family: var(--font-inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0B0A12;
}
.text span{
    font-family: var(--font-inter);
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0CBC87;
}
.loginBtn{
    padding: 7px 24px;
    background-color: #FCC800;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -2%;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;

}