.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 73px;
  background-color: #f9f9f9;
  background: #f9f9f9;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 356px;
  column-gap: 24px;
  max-width: 1280px;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 40px;
  /* Offset for fixed navbar */
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.sidebar {
  width: 100%;
  min-height: 551px;
  padding-top: 74px;
}

.sidebarSticky {
  position: sticky;
  top: 202px; /* navbar (96px) + stepper (~90px) */
  align-self: flex-start;
}


@media (max-width: 1280px) {
  .mainContent {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 430px) {
    .layoutWrapper{
      display: none;
    }
    .mobileView{
      display: flex;
    }
}