.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 42px;

  background: #f9f9f9;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 356px;
  column-gap: 24px;
  max-width: 1280px;
  margin: 0px auto;
  width: 100%;
  /* Offset for fixed navbar */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.stepperWrapperInLayout {
  margin-top: 96px;
}

.sidebar {
  width: 100%;
  min-height: 551px;
  padding-top: 74px;
}
