.heading {
    font-family: "Antic Didone", serif;
    font-style: Regular;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
    color: #000033;
    margin-bottom: 42px;
    padding: 0 32px;
    display: flex;
    gap: 2px;
    justify-content: center;
}

.headingMult {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FCC800;
    font-family: Antic Didone;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: capitalize;


}

.tabsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: ; */
    /* width: 100%; */
    border-bottom: 1px solid #C4C4C4;
}

.tabs {
    display: flex;
    color: #FFFFFF;
}

.tab {
    padding: 8px 24px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #A8A8A8;
    cursor: pointer;

}

.tab .tabBtn {
    cursor: pointer;
    text-transform: uppercase;
}

.active {
    border-bottom: 2px solid #000033;
    color: #000033;
}

.carouselContainerMain {
    margin-top: 34px;
    padding: 0 32px;
}

.carouselContainer {
    margin-top: 34px;
    padding-top: 30px;
    display: flex;
    gap: 31px;
}

.itemsCard {
    position: relative;
    max-width: 441px;
    width: 100%;
    max-height: 624px;
    height: 100%;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.35s ease;
}

.itemsCard img {
    width: 100%;
    height: 100%;

    ¯ǎ.section {
        padding: 100px 0;
    }


    .heading {
        font-family: "Antic Didone", serif;
        font-style: Regular;
        font-size: 42px;
        line-height: 1;
        letter-spacing: 0%;
        text-transform: capitalize;
        text-align: center;
        color: #000033;
        margin-bottom: 42px;
        padding: 0 32px;
        display: flex;
        gap: 2px;
        justify-content: center;
    }

    .headingMult {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FCC800;
        font-family: Antic Didone;
        font-weight: 400;
        font-style: Regular;
        font-size: 42px;
        line-height: 1;
        letter-spacing: 0%;
        text-transform: capitalize;


    }

    .tabsWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-width: ; */
        /* width: 100%; */
        border-bottom: 1px solid #C4C4C4;
    }

    .tabs {
        display: flex;
        color: #FFFFFF;
        font-size: 14px;
        text-transform: uppercase;
    }

    .tab {
        padding: 8px 24px;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 1.25;
        letter-spacing: -2%;
        text-align: center;
        vertical-align: middle;
        text-transform: capitalize;
        color: #A8A8A8;
        cursor: pointer;

    }

    .tab .tabBtn {
        cursor: pointer;
    }

    .active {
        border-bottom: 2px solid #000033;
        color: #000033;
    }

    .carouselContainerMain {
        margin-top: 34px;
        padding: 0 32px;
    }

    .carouselContainer {
        margin-top: 34px;
        padding: 30px 0;
        display: flex;
        gap: 31px;
    }

    .itemsCard {
        position: relative;
        max-width: 441px;
        width: 100%;
        max-height: 624px;
        height: 100%;
        overflow: hidden;
        transition: transform 0.2s ease, box-shadow 0.35s ease;
    }

    .itemsCard img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .itemsCard:hover {
        transform: translateY(-20px) scale(1.0);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    }

    /* Every even card (2nd, 4th, 6th, 8th, etc.) margin-top */
    :global(.swiper-slide:nth-child(even)) .carouselContainer {
        margin-top: 90px;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 68.93%, rgba(0, 0, 0, 0.79) 100%),
            linear-gradient(360deg, rgba(0, 0, 0, 0) 74.11%, rgba(0, 0, 0, 0.79) 100%);
        pointer-events: none;
    }



    /* Odd items → top margin */
    .itemsCard:nth-child(odd) {
        margin-bottom: 60px;
    }

    /* Even items → bottom margin */
    .itemsCard:nth-child(even) {
        margin-top: 60px;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        /* margin-top: 40px; */
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #212121;
        border-radius: 100%;
        cursor: pointer;
    }

    .textContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;

    }

    .textTop,
    .textBottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .textTop span {
        font-family: Antic Didone;
        font-weight: 400;
        font-style: Regular;
        font-size: 42px;
        line-height: 1.2;
        letter-spacing: -2%;
        vertical-align: middle;
        color: #FFFFFF;
    }

    .textTop p {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .economy {
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        color: #ffff;
        text-align: end;
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 3px;

    }

    .economy span {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: capitalize;
    }

    .discoverText {
        text-align: end;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;

        line-height: 1.2;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    object-fit: cover;
    display: block;
}

.itemsCard:hover {
    transform: translateY(-20px) scale(1.0);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
}

/* Every even card (2nd, 4th, 6th, 8th, etc.) margin-top */
:global(.swiper-slide:nth-child(even)) .carouselContainer {
    margin-top: 90px;
}

.overlay {
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 68.93%, rgba(0, 0, 0, 0.79) 100%),
        linear-gradient(360deg, rgba(0, 0, 0, 0) 74.11%, rgba(0, 0, 0, 0.79) 100%);
    pointer-events: none;
}



/* Odd items → top margin */
.itemsCard:nth-child(odd) {
    margin-bottom: 60px;
}

/* Even items → bottom margin */
.itemsCard:nth-child(even) {
    margin-top: 60px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* margin-top: 40px; */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 100%;
    cursor: pointer;
}

.textContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;

}

.textTop,
.textBottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.textTop span {
    font-family: Antic Didone;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #FFFFFF;
}

.textTop p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
}

.economy {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffff;
    text-align: end;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 3px;

}

.economy span {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}

.discoverText {
    text-align: end;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;

    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
}